.jframe-overlayer {
    transform-origin: top left;
    position: absolute;
    top:0;
    left: 0;
    user-select: none;
    border: 2px solid transparent;
    user-select: none;
}

.jframe-overlayer[disablehover=true] .jframe-block {
    background: transparent!important;
} 

.jframe-block{
    position:absolute;
    outline: 1px dashed rgba(170,170,170,0.7);
    outline-offset: -2px;
    border: 2px solid transparent;
    box-sizing: border-box;
    user-select: none;
}

.jframe-block:hover {
    border: 2px solid #4e75ec;
    background-color: rgba(235, 240, 255, 0.6);
}
.jframe-block[hover] {
    /* border: 2px solid #4e75ec; */
    background-color: rgba(235, 240, 255, 0.6);
}
.jframe-block[focus] {
    border: 2px solid #4e75ec;
}
.jframe-block[accept] {
    border: 2px solid #F2BF46;
}
.jframe-block[dragging] {
    background-color: rgba(0,0,0,0.4);
}
.jframe-block-resizer{
    width: 7px;
    height: 7px;
    background-color: #FFFFFF;
    border: 1px solid #4E75EC;
    box-sizing: border-box;
    position: absolute;
    cursor: nwse-resize;
}
.jframe-fence {
    display: none;
    position: absolute;
    left: 0;
    top: 0;
    width: 0px;
    height: 0px;
    transform: translate(0,0);
    transition: all .5s;
    border: 1px solid red;
    /* background-color: #43E863; */
    z-index: 1000;
}

.jframe-fence[accept] {
    border-color: #43E863;
}

.jframe-control-point {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 8px;
    height: 8px;
    background: #fff;
}

.jframe-frametool{
    position: absolute;
    left: 0;
    top: 0;
    width: 0;
    height: 0;
    transform: translate(0, -100%);
    z-index: 100000;
}

.jframe-toolbox {
    display: none;
    position: absolute;
    left: 0;
    top: 0;
    transform: translate(0, -100%);
    z-index: 100000;
}
.jframe-toolbox > * + * {
    margin-left: 6px;
}

.jframe-blocktool {
    display: none;
    position: absolute;
    left: 0;
    top: 0;
    width: 0;
    height: 0;
    transform: translate(0, -100%);
    z-index: 100000;
}

.jframe-toolbtn {
    display: inline-block;
    background-color: #4E75EC;
    padding: 6px;
    color: #fff;
    font-size: 12px;
    border-radius: 5px;
    border: 1px solid transparent;
    margin-bottom: 6px;
}

.jframe-toolbtn-group-item  {
    display: inline-block;
    height: 9px;
    width: 9px;
    cursor: pointer; 
    background-position: center;
    background-size: 150%;
    background-repeat: no-repeat;
}
.jframe-toolbtn-group-item + .jframe-toolbtn-group-item  {
    margin-left: 3px;
}
.jframe-toolbtn-group-item[light=true] {
    opacity: 1;
}
.jframe-toolbtn-group-item[light=false] {
    opacity: 0.6;
}
.jframe-toolbtn-group-justify-start {
    background-image: url(./justify-start.png);
}
.jframe-toolbtn-group-justify-end {
    background-image: url(./justify-end.png);
}
.jframe-toolbtn-group-column {
    background-image: url(./direction-column.png);
}
.jframe-toolbtn-group-alignment-start {
    background-image: url(./alignment-start.png);
}
.jframe-toolbtn-group-alignment-center {
    background-image: url(./alignment-center.png);
}
.jframe-toolbtn-group-alignment-end {
    background-image: url(./alignment-end.png);
}


.jframe-title-wrapper{
    position: relative;
    display: inline-block;
    margin-bottom: 6px;
}
.jframe-title-wrapper .jframe-title + .jframe-title{
    margin-top: 3px;
}
.jframe-title {
    background-color: #4E75EC;
    padding: 6px;
    color: #fff;
    font-size: 12px;
    border-radius: 5px;
    border: 1px solid transparent;
    display: none;
}
.jframe-title[first-title]{
    display: block;
}
.jframe-title-wrapper:hover .jframe-title{
    display: block;
}
.jframe-deleteBtn {
    vertical-align: bottom;
    height: 14px;
    width: 14px;
    cursor: pointer;
    background: url(./delete.png) center/50% no-repeat #4E75EC;
}

.jframe-block-splitter {
    position: absolute;
    width: 40px;
    height: 40px;
    box-shadow: 0px 0px 5px #BBCCFF;
    border-radius: 5px;
    border: 1px solid transparent;
    background-color: transparent;
    background-size: 24px 24px;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
}
.jframe-block-splitter:hover {
    background-color: rgba(187, 204, 255, 0.4)
}
.jframe-block-splitter.jframe-block-splitter-vertial{
    transform: translate(-50%, 0);
    background-image: url(./splitV.png);
}
.jframe-block-splitter.jframe-block-splitter-horizontal{
    transform: translate(0, -50%);
    background-image: url(./splitH.png);
}
.jframe-block-splitter-line.jframe-line-vertical{
    position: absolute; 
    display: none;
    border-left: 2px dashed #BBCCFF;
    /* height: 100%; */
    width: 0;
    /* left: 50%; */
    transform: translate(-1px, 0);
}
.jframe-block-splitter-line.jframe-line-horizontal{
    position: absolute; 
    display: none;
    border-top: 2px dashed #BBCCFF;
    /* width: 100%; */
    height: 0;
    /* top: 50%; */
    transform: translate(0, -1px);
}

.jframe-block-line.jframe-line-vertical{
    position: absolute; 
    border-left: 2px solid #BBCCFF;
    width: 0;
    transform: translate(-1px, 0);
    cursor: ew-resize;
}

.jframe-block-line.jframe-line-horizontal{
    position: absolute; 
    border-top: 2px solid #BBCCFF;
    height: 0;
    transform: translate(0, -1px);
    cursor: ns-resize;
}

.jframe-block-indicator {
    display: none;
    position: absolute;
    border: 1px dashed #4E75EC;
    width: 0;
    height: 0;
    left: 0;
    top: 0;
}
.jframe-block-indicator-number{ 
    position: absolute;
    transform: translate(-50%, -50%);
    font-size: 12px;
    padding: 5px 9px;
    background-color: #EBF0FF;
    color: #000;
}

.jframe-block-margin {
    position: absolute;
    background-color: #4E75EC;
}
.jframe-block-margin-horizontal {
    width: 5px;
    height: 52px;
    transform: translate(0, -50%);
}
.jframe-block-margin-vertical {
    width: 52px;
    height: 5px;
    transform: translate(-50%, 0);
}
.jframe-block-margin-rect {
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: center;
    background: transparent
}
.jframe-overlayer[disablehover=true] .jframe-block-margin-rect {
    background: transparent!important;
}
.jframe-overlayer[disablehover=true] .jframe-block-margin-rect-content {
    display: none!important;
}
.jframe-block[focus] .jframe-block-margin-rect {
    background: repeating-linear-gradient(
        45deg,
        #EBF0FF,
        #EBF0FF 10px,
        #fff 10px,
        #fff 20px
    );
}
.jframe-block[focus] .jframe-block-margin-rect[visible] {
    background: repeating-linear-gradient(
        45deg,
        #BBCCFF,
        #BBCCFF 10px,
        #fff 10px,
        #fff 20px
    );
    
}
.jframe-block-margin-rect-content{
    display: none;
    background-color: #4E75EC;
    color: #fff;
    padding: 6px;
}
.jframe-block[focus] .jframe-block-margin-rect[visible] > .jframe-block-margin-rect-content {
    display: block;
}

.jframe-block-margin-input{
    
}

.jframe-block-content-editor {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    left: 0;
    top: 0;
    display: none;
}
.jframe-block-content-editor .jframe-block-content-editor-input {

}

